body,
.tooltip {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.header-bar {
  background-color: #42D949;
}

.container--narrow {
  max-width: 732px;
}

.margin-auto{
    margin: auto;
}
.max-width-500{
    max-width: 500px;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}
.btn-primary{
    background-color: #218838 !important;
    border-color: #218838 !important;
}
.btn-primary:hover{
    background-color:#28A745 !important;
    border-color: #28A745 !important;
}
.btn-success{
    background-color: #42D949!important;
    border-color: #28a745 !important;
}
.btn-create {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-create:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


.btn-success:hover{
    background-color: #29b72f !important;
    border-color: #28a745 !important;
}
.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem;
}

/* .input-dark {
  background-color: #444;
  border-color: transparent;
  color: #ffffff;
}

.input-dark:focus {
  color: #ffffff;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-dark::-webkit-input-placeholder {
  color: #888;
}
.input-dark::-moz-placeholder {
  color: #888;
}
.input-dark:-ms-input-placeholder {
  color: #888;
}
.input-dark:-moz-placeholder {
  color: #888;
} */

@media (min-width: 768px) {
  .input-dark {
    width: auto;
  }
    .mobile-card-desktop{
        display: block;
    }
    .mobile-card-mobile{
        display: none;
    }
}

.display-3 {
  font-size: 4.35rem;
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
    .margin-mobile{
        margin-bottom:10px;
    }
    .mobile-card-desktop{
        display: none;
    }
    .mobile-card-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  transition: all 0.5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}

.delete-post-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Search Overaly */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(215, 215, 215, 0.911);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
  will-change: visibility, transform, opacity;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-overlay-icon {
  color: #007bff;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  flex: 1;
  color: #007bff;
}

.live-search-results {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.07);
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1);
}

.search-overlay-top {
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-overlay-bottom {
  overflow: auto;
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
  line-height: 1;
  color: #292929;
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 2.5rem;
  }

  .close-live-search {
    font-size: 3rem;
  }

  .search-overlay-icon {
    font-size: 3rem;
  }
}

.close-live-search:hover {
  opacity: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circle-loader {
  opacity: 0;
  transition: opacity 0.45s ease-out, visibility 0.45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End Search Overlay */

/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100%);
}

.chat-wrapper--ready {
  transition: all 0.4s ease-in-out;
}

.chat--visible {
  opacity: 1;
  transform: translateY(0);
}

.chat-title-bar {
  background-color: #292929;
  color: #fff;
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: 0.7;
  cursor: pointer;
}

.chat-title-bar-close:hover {
  opacity: 1;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #007bff;
  color: #fff;
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.chat-message a {
  color: #212529;
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 120px;
    resize: vertical;
}

.menu-item {
    border-radius: 4px;
}

.menu-item h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.margin-b-20{
    margin-bottom: 20px;
}

@media (max-width: 768px) {


    .menu-item h3 {
        margin-bottom: 10px;
    }
}



.card{
    border:none;

    position:relative;
    border-radius:8px;
    cursor:pointer;
}

.text-restaurant{
    font-size: 24px !important;
    padding: 14px;
    border-radius: 9px !important;
    background-color: #28A745 !important;
}

.m-15{
    margin-bottom: 15px;
}

.header-link{
    color: white;
    text-decoration: none ;
}
.header-link:hover{
    color: white !important;
    text-decoration: none !important;
}

.remove-border{
    border: none;
}
.full-border{
    border-radius: 0.25em !important;
    border: 1px solid #dee2e6 !important ;
}.tab-border{
    border-radius: 9px !important;
    border: 1px solid #dee2e6 !important ;
}
 .link-color a.active{
     color: white !important;
     background-color: #28a745 !important;
 }
.link-color a{
    color: #28a745 !important;
}
 .link-color a.active:hover {
     color: #fff !important;
 }
 .green-color{

 }
.btn-red{
    width: 178px;
    float: left;
    background-color: grey;
    color: white;
    font-size: 15px;
}

.flex-center{
    margin: auto;
}

.btn-red:hover{
    background-color: rgb(128, 128, 128, 0.9);
    color: white !important;
    font-size: 15px;
}

.label-font{
    font-weight: normal !important;
    margin-bottom: 17px;
    padding-left: 5px ;
}
.text-center{
    text-align: center;
}
.custom-input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    /* Add any other styles as per your preference */
}

.alert {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.alert.fade-out {
    opacity: 0;
}
body {

}


/* declare a 7 column grid on the table */

.city {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
}

.width-city {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto !important;
}

.data-name {
    align-items: center;
}

.logo-css {
    max-width: 118px;
}

.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-width {
    min-width: 250px;
}

.input-border {
    border-radius: 5px 0 0 5px !important;
}

.button-color {
    color: #fff !important;
    background-color: #42d949!important;
    border-color: #42d949!important;
    border-radius: 0 5px 5px 0 !important;
}

#calendar {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#calendar tr,
#calendar tbody {
    grid-column: 1 / -1;
    display: grid;
    border-radius: 5px 5px 0 0px;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
}

caption {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

#calendar a {
    color: #42d949;
    text-decoration: none;
}

#calendar td,
#calendar th {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#calendar .weekdays {
    box-shadow: inset 0px 0px 18px 0px rgb(0 0 0 / 30%);
    background: #42d949;
}

#calendar .weekdays th {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar td {
    min-height: 180px;
    display: flex;
    flex-direction: column;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    flex: 0 0 auto;
    align-self: flex-end;
}

#calendar .event {
    flex: 0 0 auto;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}


/* Css for the search fucntion */

::selection {
    color: #fff;
    background: #4285f4;
}

.search,
li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper.active .content {
    display: block;
}

.content .search {
    position: relative;
}

.search i {
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    border: 1px solid #B3B3B3;
}

.search input:focus {
    padding-left: 15px;
    border: 2px solid #4285f4;
}

.search input::placeholder {
    color: #bfbfbf;
}

.content .options {
    margin-top: 0px;
    max-height: 250px;
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
}

#optiondisplay.show {
    display: block;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li {
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
}

.options li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
}

#optiondisplay {
    display: block;
    position: absolute;
    top: 54px;
    z-index: 23;
    min-width: 262px;
    border: 1px solid lightgrey;
    display: none;
    background: #fff;
    border-radius: 5px;
}


/* ============================
				Mobile Responsiveness
   ============================*/

.table-responsive {
    overflow-x: auto;
}
@media(max-width: 768px) {



    .table-container {
        overflow-x: auto;
    }

    #calendar {
        width: 100%;
        white-space: nowrap;
    }

    #calendar,
    #calendar tbody {
        grid-column: 1 / -1;
        display: grid;
        border-radius: 5px 5px 0 0px;
        grid-template-columns: repeat(8, 1fr);
        width: max-content;
    }
    #calendar tr{

    }

    #calendar .data-name {
        font-size: 14px;
    }
}


.green-footer {
    padding-top: 31px;
    padding-bottom: 46px;
    background-color: #42d949!important;
}

.social-icons {
    list-style: none;
    text-align: center;
}

.footer-icon {
    display: inline-block;
    margin-left: 20px;
}

.coded-by {
    text-align: center;
    color: #666;
    font-size: 12px;
    font-weight: 700;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    margin: 0px !important;
}
.link-login{
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 10px;
}
@media (max-width: 768px) {
    .link-login{
        color: #fff !important;
        text-decoration: none;
        background-color: transparent;
        position: absolute;
        top: 55px;
        right: 10px;
    }
}
